<div class="client-wrap opacity-focus">
    <div class="client google">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">

                <hr class="bar">
                <h4 class="client-title">Google</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third and longer project name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third and longer project name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>

        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>

        <img class="client-logo" src="{{ asset('bundles/app/assets/index/img/index/pl/pl-dot-net-logo.png') }}">
    </div>

    <div class="client microsoft">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">

                <hr class="bar">
                <h4 class="client-title">LG Corporation</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third Name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>

        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>

        <img class="client-logo smaller" src="{{ asset('bundles/app/assets/index/img/index/pl/picked-languages-php-logo.png') }}">
    </div>

    <div class="client logitech">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">
                <hr class="bar">
                <h4 class="client-title">Logitech</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third Name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>
        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>
        <img class="client-logo" src="{{ asset('bundles/app/assets/index/img/index/pl/pl-java-ee-logo.png') }}">
    </div>

    <div class="client oculus">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">
                <hr class="bar">
                <h4 class="client-title">oculus</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third Name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>
        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>
        <img class="client-logo" src="{{ asset('bundles/app/assets/index/img/index/pl/python-logo-svg.svg') }}">
    </div>

    <div class="client skype">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">
                <hr class="bar">
                <h4 class="client-title">Skype</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third Name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>
        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>
        <img class="client-logo" src="{{ asset('bundles/app/assets/index/img/index/pl/pl-ruby-logo.png') }}">
    </div>

    <div class="client amd">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">
                <hr class="bar">
                <h4 class="client-title">AMD</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third Name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>
        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>
        <img class="client-logo" src="{{ asset('bundles/app/assets/index/img/index/pl/javascript2017-svg.svg') }}">
    </div>

    <div class="client treehouse">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">
                <hr class="bar">
                <h4 class="client-title">Treehouse Island, Inc.</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third Name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>
        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>
        <img class="client-logo" src="{{ asset('bundles/app/assets/index/img/index/pl/pl-html-css-logo.png') }}">
    </div>

    <div class="client nickelodeon">
        <div class="client-more-less"></div>
        <div class="client-meta">
            <div class="client-close"></div>
            <ul class="project-list">
                <hr class="bar">
                <h4 class="client-title">Nickelodeon</h4>
                <li>Some Example Project</li>
                <li>Another Project</li>
                <li>The Third Name</li>
                <li>Fourth Project Name</li>
                <li>Another Name</li>
            </ul>
        </div>
        <div class="overflow-wrapper">
            <img data-src="http://lorempixel.com/300/250/business">
            <img data-src="http://lorempixel.com/300/250/technics">
            <img data-src="http://lorempixel.com/300/250/nature">
            <img data-src="http://lorempixel.com/300/250/city">
            <img data-src="http://lorempixel.com/300/250/transport">
        </div>
        <img class="client-logo" src="{{ asset('bundles/app/assets/index/img/index/pl/pl-database-logo.png') }}">
    </div>
</div>